<style>

	input.ng-touched.ng-invalid {
		border: red solid 2px;
	}

</style>
<h1>Edit Widget</h1>
<nav ng-include="'/tpls/menu.html'"></nav>

Widget Id: {{widget.id}}

<form name="widgetForm" novalidate ng-submit="saveWidget()">

	<div>
		<label>Widget Name:
			<input ng-model="widget.name" name="widgetName">
		</label>
	</div>

	<div>
		<label>Widget Color:
			<input ng-model="widget.color" name="widgetColor" required>
			<span ng-show="widgetForm.widgetColor.$invalid && widgetForm.widgetColor.$touched">Widget Color is Required</span>
		</label>
	</div>

	<div>
		<label>Widget Made in USA:
			<input ng-model="widget.madeInUSA" name="widgetMadeInUSA" type="checkbox">
		</label>
	</div>

	<fieldset>
		<legend>Size</legend>
		<div>
			<label>Small:
				<input ng-model="widget.size" name="widgetSize" value="small" type="radio">
			</label>
		</div>
		<div>
			<label>Medium:
				<input ng-model="widget.size" name="widgetSize" value="medium" type="radio">
			</label>
		</div>
		<div>
			<label>Large:
				<input ng-model="widget.size" name="widgetSize" value="large" type="radio">
			</label>
		</div>
	</fieldset>

	<div ng-init="textures=[
		{ code: 's', label: 'smooth', quality: 'High' },
		{ code: 'r', label: 'rough', quality: 'Low' },
		{ code: 'f', label: 'fuzzy', quality: 'High' },
		{ code: 'b', label: 'bumpy', quality: 'Low' },
		{ code: 'g', label: 'gritty', quality: 'Low' }]">
		<label>Texture:
			<select ng-model="widget.texture"
				ng-options="texture.code as texture.label group by texture.quality for texture in textures | orderBy:'label'">
				<option value="">Select One...</option>
			</select>
		</label>
	</div>

	<div>
		<label>Comments:
			<textarea ng-model="widget.comments" name="widgetComments" rows="5" cols="60"></textarea>
		</label>
	</div>

	<button type="button" ng-click="saveWidget()">Save Widget</button>
	<button type="button" ng-click="cancelWidget()">Return To List</button>


</form>
