<style>

	input.ng-touched.ng-invalid {
		border: red solid 2px;
	}

</style>
<h1>Edit Widget</h1>
<nav ng-include="'/tpls/menu.html'"></nav>

Widget Id: {{widget.id}}

<form name="widgetForm" novalidate>

	<div>
		<label>Widget Name:
			<input ng-model="widget.name" name="widgetName">
		</label>
	</div>

	<div>
		<label>Widget Color:
			<input ng-model="widget.color" name="widgetColor" required>
			<span ng-show="widgetForm.widgetColor.$invalid && widgetForm.widgetColor.$touched">Widget Color is Required</span>
		</label>
	</div>

	<div>
		<label>Widget Made in USA:
			<input ng-model="widget.widgetMadeInUSA" name="widgetMadeInUSA" type="checkbox">
		</label>
	</div>

</form>
