<!DOCTYPE html>

	<html>

	<head>
		<title>Welcome to Angular.js</title>
		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/angular/angular.js"></script>
	</head>

	<body>

		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">
				<!-- {{message}}<br>
				<input ng-model="message" ng-model-options="{updateOn: 'blur'}">
				<ul>
					<li ng-repeat="color in colors">{{color}}</li>
				</ul> -->

				<form>
					<div><label>First Name
						<input type="text" ng-model="person.firstName"></label></div>
					<div><label>Last Name
						<input type="text" ng-model="person.lastName"></label></div>
					<div><label>Age
						<input type="text" ng-model="person.age"></label></div>
					<div><label>Gender
						<input type="text" ng-model="person.gender"></label></div>
				</form>


			</div>
		</div>

		<script>

			angular.module("MyApp", [])
				.controller("MyCtrl", function($scope, $timeout, $rootScope) {

					// $scope.$watch(function() {
					// 	console.log("digest loop executed");
					//
					// 	var y = 0;
					// 	for (var x=0; x<1000000000; x++) {
					// 		y = x;
					// 	}
					// });

					// $scope.$watch("message", function(newValue, oldValue) {
					// 	console.log("New Value: " + newValue);
					// 	console.log("Old Value: " + oldValue);
					// });

					// $scope.colors = ["red","blue","green"];
					//
					// $scope.$watchCollection("colors", function(newList, oldList) {
					// 	console.dir(newList);
					// });
					//
					// $timeout(function() {
					// 	$scope.colors.push("brown");
					// },3000);

					$scope.person = {
						firstName: "John",
						lastName: "Smyth",
						age: 43,
						gender: "male"
					}

					$scope.$watchGroup(["person.firstName","person.lastName"], function(newValues, oldValues) {
						console.log(newValues);
						//console.log("Old Value: " + oldValue);
					});

				});

		</script>

	</body>

</html>
